.layout-header {
    background-color: red;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.layout-footer {
    background-color: red;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}